<div class="teacherCensor d-flex" style="height:1200px;">

    <!-- BeginSIDEBAR -->
    <div class="col-md-1 position-relative p-0 m-0">
        <div id="side">
            <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px; position:absolute!important;">
                <a href="/api/admins/categoryCensor" class="mySide" class="side w3-bar-item"><i
                        class="bi bi-bookmarks"></i></a>
                <a href="/api/admins/teacherCensor" class="mySide" class="side w3-bar-item "><i
                        class="bi bi-person-workspace"></i></i></a>
                <a href="/api/admins/studentCensor" class="mySide active" class="side w3-bar-item "><i
                        class="bi bi-person"></i></a>
                <a href="/api/admins/courseCensor" class="mySide" class="side w3-bar-item "><i
                        class="bi bi-camera-reels"></i></a>
            </div>
        </div>

        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("side");
            var btns = header.getElementsByClassName("mySide");

            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }               
        </script>
    </div>

    <!-- End: SIDEBAR -->
    <div class="col">
        <h1 class="font-text">MY CATEGORY</h1>
        <form action="/api/admins/createCategory" method="post">
            <div class="container d-flex searchInMyList border border-gray rounded">

                <div class="d-flex align-items-center input-group mr-2">
                    <input class="form-control rounded" id="myInput" name="name" type="text"
                        placeholder="Enter name of category">

                </div>
                <div class="d-flex align-items-center ">
                    <button type="submit" class="btn btn-lg buttonCreateCourse">Create
                        Category</button>
                </div>




            </div>
        </form>

        <div class="listOfCourse">
            {{#each category}}
            <div class="container d-flex  course border border-dark rounded p-2">
                <div>
                    <button class="btn btn-md bg-info">Category:{{name}}</button>
                </div>
                <div class="d-flex ">
                    <form id="creataCategory" method="POST" action="/api/admins/editCat/{{_id}}">
                        <div class="modal fade " id="modalCategory" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered mw-80 w-65">
                                <div class="modal-content" role="document">
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title font-weight-bold">Create Category by Admin</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body ">

                                        <input type="text" name="name" placeholder="Enter name which you want">
                                        <input type="hidden" name="id_category">
                                        <input type="text" name="sub_categories" placeholder="Add subcategory">

                                        <br>
                                        <br>
                                        <button type="submit" class="btn btn-orange bg-success">Change</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Back</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <button class="btn btn-md bg-success mr-2 " onclick="handleIDCate(this)" value="{{_id}}"
                        data-toggle="modal" data-target="#modalCategory">Edit</button>
                    <form action="/api/admins/deleteCat/{{_id}}" method="post">
                        <button class="btn bg-danger" type="submit">Remove</button>
                    </form>

                </div>
            </div>

            {{/each}}

        </div>


        <!-- Begin: Student Censor Body -->

    </div>


</div>


<script>
    function handleIDCate() {

        document.getElementById("id_category").value = id.value;

    }
</script>