<div class="adminHomePage d-flex" style="height:1200px;">
    {{!-- {{#each value}}
        <div>{{name}}</div>
    {{/each}}

    {{#each value2}}
    <div>{{age}}</div> 
    {{/each}}

    {{#if condition}}
        
    {{/if}} --}}

    <!-- BeginSIDEBAR -->
    <div class="col-md-1 position-relative p-0 m-0">
        <div id="side">
            <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px; position:absolute!important;">
                <a href="/api/teachers/homepage" class="mySide" class="side w3-bar-item"><i
                        class="bi bi-house-door fa-xm"></i></a>
                <a href="/api/teachers/createCourse" class="mySide " class="side w3-bar-item "><i
                        class="bi bi-camera-reels fa-xm"></i></i></a>
                <a href="/api/teachers/myListCourses" class="mySide active" class="side w3-bar-item "><i
                        class="bi bi-card-list fa-xm"></i></a>
            </div>
        </div>
    
        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("side");
            var btns = header.getElementsByClassName("mySide");

            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }               
        </script>
    </div>
    <!-- End: SIDEBAR -->

</div>