<div>
    <img src="./home/img_headerHome.png" alt="picHome" class="homeimg">       
</div>
<div class="homebg1">
    <div class="hometext">Top popular course of the past week</div>
    <div><img src="./home/img_home1.png" alt="" class="homeimg_item"></div>

</div>
<div style="display: flex; justify-content: space-around;">
    
<div class="itemcard">
  <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
  <div>Courses Name</div>
  <div class="itemprice">$19.99</div>
  <div style="height: 80px;">Description about courses...</div>
  <div style="display: flex;">
    <p><button>Add to Wishlist</button></p>
    <p><button>Add to Cart</button></p>
  </div>
</div>


<div class="itemcard">
  <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
  <div>Courses Name</div>
  <div class="itemprice">$19.99</div>
  <div style="height: 80px;">Description about courses...</div>
  <div style="display: flex;">
    <p><button>Add to Wishlist</button></p>
    <p><button>Add to Cart</button></p>
  </div>
</div>


<div class="itemcard">
  <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
  <div>Courses Name</div>
  <div class="itemprice">$19.99</div>
  <div style="height: 80px;">Description about courses...</div>
  <div style="display: flex;">
    <p><button>Add to Wishlist</button></p>
    <p><button>Add to Cart</button></p>
  </div>
</div>


<div class="itemcard">
  <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
  <div>Courses Name</div>
  <div class="itemprice">$19.99</div>
  <div style="height: 80px;">Description about courses...</div>
  <div style="display: flex;">
    <p><button>Add to Wishlist</button></p>
    <p><button>Add to Cart</button></p>
  </div>
</div>


    
</div>

<div class="homebg2">
    
    <div><img src="./home/img_home2.png" alt="" class="homeimg_item"></div>
    <div class="hometext">Top viewed courses</div>

</div>
<div></div>

<div class="homebg1">
    <div class="hometext">New courses</div>
    <div><img src="./img_login.png" alt="" class="homeimg_item"></div>

</div>
<div></div>

<div class="homebg2">
    
    <div><img src="./home/img_home3.png" alt="" class="homeimg_item" ></div>
    <div>
        <div class="hometext" style="width: 500px;">The most registered field of study in the last week</div>
        <div  style="color: black; font-size: 20px;"> -> Mobile Development</div>
        <div  style="color: black;font-size: 20px;">-> Web Development</div>
    </div>
    

</div>
