<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <form class="login" method="post">
        <div class="loginbanner">
            <div class="father">
                <div class="son">
                    <div style="font-size: 50px; font-weight: bolder;">-WELCOME TO YOLO-</div>
                </div>
            </div>
             <div class="father">
                <div class="son">
                    <div style="font-size: larger;"> The best website for online learning</div>

                </div>
            </div>
             <div class="father">
                <div class="son">
                    <img src="./img_login.png" style="margin: 15px; height: auto;">

                </div>
            </div>
            <div class="father">
                <div class="son">
                    <div style="margin-top: 30px;font-size:27px">“Education is the most powerful weapon we use to change the world.”</div>
                </div>
            </div>

        </div >
            <div class="loginform">
                <div class="father">
                    <div class="son">
                        <div style="color: #FF914D; font-size: 40px;font-weight: bolder; padding-bottom: 30px;">LOG IN</div>
                    </div>
                    </div>
                    <div >Username:</div>
                    <div>
                        <input class="logininput" name="username">
                    </div>
                    <div>Password:</div>
                    <div>
                        <input class="logininput" type="password" name="password">
                    </div>
                    <div style="display: flex;">
                        <a href="#">Forgotten password?/</a>
                        <a href="/api/accounts/signup">Sign Up</a>
                    </div>

                    <div class="father"> 
                        <div class="son">
                         <button class="btn"> Log In</button>
                        </div>
                    </div>

            </div>
        <div>
        </div>
    </div>
    
</body>
</html>