<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   
    
    <!-- Link Bootstrap JS and JQuery -->
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <style>
        /* CSS for Square boxes */
        .color_header {
            background-color: #E9EAEC;
        }
    
        .resize {
            width: 280px;
            height: 80px;
        }
    
        .square {
            width: 100px;
            height: 100px;
            background-color: #1C1D1F;
            color: white;
            border-radius: 50%;
        }
    
        .font-text {
            position: absolute;
            left: 131px;
            top: 100px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 61px;
    
            color: #000000;
        }
    
        .colorCreateCourse {
            position: absolute;
            width: 1310px;
            height: 189px;
            left: 102px;
            top: 190px;
    
            background: #FDFBFB;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    
        .buttonCreateCourse {
            background: #EEB00D;
            height: 60px;
        }
    </style>
</head>
<body>
    <div>
        <header >
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                <div>
                    <a class="navbar-brand text-warning" href="/">
                    <img src="/img/img_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">YOLO</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CATEGORIES
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Web Development</a>
                            <a class="dropdown-item" href="#">Mobile Development</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">...</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FQA</a>
                        </li>
                        
                    </ul>
                </div>
                
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class=" btn-sm btn-warning" type="submit">Search</button>
                </form>
                
                    
                <div>
                    <button type="button" class="btn-sm btn-light ml-4 ">Log In</button>
                    <button type="button" class="btn-sm btn-light">Sign Up</button>
                </div>

            </nav>
        </header>

        <div>
            {{{body}}}

        </div>

        <div class='footer'>

            <div class='father'>
                <div class='son'>
                    <div className='logo' style="display: flex;">                        
                        <img class="logo" src="./img_logo.png" ></img>
                        <h1 class="ft_text" >YOLO</h1>                       
                    </div>
                </div>
            </div>

            <div class='father'>
                <div class='son'>
                    <div className='menuFootBar'>
                        <ul className='listFBar' style="display: flex;">
                            <li className='itemFBar' class='ft_li' >
                                <a href="/" ><div class="text">HOME</div></a>
                            </li>
                            <li className='itemFBar'  class='ft_li'>
                                <a href="/aboutus" ><div class="text">ABOUT US</div></a>
                            </li>
                            <li className='itemFBar'class='ft_li'>
                                <a href="/fqa" ><div class="text">FQA</div></a>
                            </li>
                            <li className='itemFBar'  class='ft_li'>
                                <a href="/catelories" ><div class="text">CATELORIES</div></a>
                            </li>
                        
                            <li className='itemFBar' class='ft_li' >
                                <a href="/profile"><div class="text">PROFILE</div></a>
                            </li>                           
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class='father'>
                <div class='son'>
                    <div className='infolink'>
                        <ul style="display: flex;">
                            <li class='ft_li'>
                                <a href="">
                                    <img class='ft_imglink' src="./footer/img_github.png"></img>
                                </a>
                            </li>
                            <li class='ft_li'>
                                <a href="https://www.facebook.com/hongtan1422002">
                                    <img class='ft_imglink'  src= "./footer/img_fb.png" style="margin-top: 14px; height: 80px;width: 90px;"></img>
                                </a>
                            </li>
                            <li class='ft_li' >
                                <a href="https://www.linkedin.com/in/phamthaovy0812/">
                                    <img class='ft_imglink'  src="./footer/img_linkedin.png" style="margin-top: 14px; height: 76px;width: 90px;"></img>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                
            <div class='father'>
                <div class='son'>
                    <div className='infotext' style="display: flex;">
                        <div ><b>2022 All rights reserved</b> </div>
                        <div class='ft_kc'>..</div>
                        <div class='ft_text'>By group 11 - 20KTPM1</div>
                    </div>
                </div>
            </div>           
            
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
        

</body>
</html>