<!-- Start: Home Course Header -->
<div class="container-fluid p-0 color_header">
    <div class="d-flex justify-content-around">
        <div class="container w-100">
            <img src="./Logo.png" alt="" class="img-fluid resize">
        </div>
        <div class="container text-right pt-4 pr-5">
            <span class="col">Student</span>
            <span class="col"> <i class="fas fa-cloud"></i></span>
            <span class="col"> <i class="square">NT</i></span>
        </div>

    </div>
</div>
<!-- End: Home Course Header -->

<!-- Start: Home Course Body -->
<div class="body">
    <h1 class="font-text">HOME</h1>

    <!-- Create Course -->
    <div class="d-flex justify-content-around pt-5 colorCreateCourse">
        <p>Jump Into Course Creation</p>
        <button type="button" class="btn btn-lg text-light buttonCreateCourse">Create Your Course</button>
    </div>

</div>
<!-- End: Home Course Body -->