<div>
    <div style="height: 10px;">
        <div class="mltitle">Edit Profile</div>
    </div>
    <div class="col-lg-12 course-detail-tab">
        <ul class="nav nav-pills changeColor separator" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                    aria-selected="true">Edit Public Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Account Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" aria-selected="false">Close account</a>
            </li>
        </ul>
        {{!-- NAV --}}
        <div class="tab-content">
            {{!-- Edit public profile Tab --}}
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="father">
                    <div class="son">
                         <div style="width: 400px;height: 300px; border-radius: 25px; border: 2px; background-color:#fdf4db;padding: 10px; margin: 20px;">
                            <div class="text-center font-weight-bold my-4">Edit your public profile</div>
                            <div>
                                <form method="post" action="/api/accounts/updateinfo">
                                    <input type="text" name="fullname" class="logininput"  placeholder="Fullname..">
                                    <input type="text"name="email" class="logininput" placeholder="Email..">                     
                                    <button class="btnsignup" style=" margin:20px" >Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            {{!-- End: Edit public profile Tab --}}

            {{!-- Account Security tab --}}
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="father">
                    <div class="son">
                         <div style="width: 400px;height: 300px; border-radius: 25px;  background-color:#fdf4db;padding: 10px; margin: 20px;">
                            <div class="text-center font-weight-bold my-4">Account Security</div>
                            <div>
                                <form method="post" action="/api/accounts/updatepass">
                                    <input type="password" class="logininput" name="oldpassword"  placeholder="Current Password..">
                                    <input type="password" class="logininput" name="newpassword"  placeholder="New Password..">
                                    <input type="password"class="logininput" name="retypepassword" placeholder="Re-type New Password..">                     
                                    <button class="btnsignup" style=" margin:20px" >Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- End: Account Security tab --}}

             {{!-- Close account tab --}}
            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <div class="father">
                    <div class="son" style="margin-bottom: 20px;">
                        <div style=" font-size: larger; font-weight: bolder; text-align: center; margin:20px; color: red;">WARNING</div>
                        <div class="ms-2" style="color: red;">If you close your account, you will be unsubscribed from all your 0 courses, and will lose access forever.</div>
                        <button class="btnsignup" style="margin-top: 20px; margin-left: 65px; ">Close</button>
                    </div>
                </div>
            </div>
            {{!-- End: Close account tab --}}
            
        </div>
    </div>

</div>

