<div>

</div>
<div>
    <nav class="mlbar">
        <div style="height: 100px;">
            <div class="mltitle">My Learning</div>
        </div>
        
        <div class="nav nav-tabs mltab" id="nav-tab" role="tablist">
            <button class="nav-link active " id="nav-mycourses-tab" data-bs-toggle="tab" data-bs-target="#nav-mycourses" type="button" role="tab" aria-controls="nav-mycourses" aria-selected="true">My Courses</button>
            <button class="nav-link" id="nav-wishlist-tab" data-bs-toggle="tab" data-bs-target="#nav-wishlist" type="button" role="tab" aria-controls="nav-wishlist" aria-selected="false">My Wishlist</button>
            <button class="nav-link" id="nav-sthing-tab" data-bs-toggle="tab" data-bs-target="#nav-sthing" type="button" role="tab" aria-controls="nav-sthing" aria-selected="false">Somethings</button>
        </div>
         
    </nav>
        <div class="tab-content mlshow" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-mycourses" role="tabpanel" aria-labelledby="nav-mycourses-tab" tabindex="0">
                <div>
                                        
                    <div class="itemcard">
                    <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
                    <div>Courses Name</div>
                    <div class="itemprice">$19.99</div>
                    <div style="height: 80px;">Description about courses...</div>
                    <div style="display: flex;">
                        <p><button>Add to Wishlist</button></p>
                        <p><button>Add to Cart</button></p>
                    </div>
                    </div>


                </div>
            </div>
            <div class="tab-pane fade" id="nav-wishlist" role="tabpanel" aria-labelledby="nav-wishlist-tab" tabindex="0">
                <div></div>
            </div>
            <div class="tab-pane fade" id="nav-sthing" role="tabpanel" aria-labelledby="nav-sthing-tab" tabindex="0">
                <div></div>
            </div>
        </div>
           
</div>