<div>
    <div style="height: 10px;">
        <div class="mltitle">My Learning</div>
    </div>
    <div class="col-lg-12 course-detail-tab">
        <ul class="nav nav-pills changeColor separator" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                    aria-selected="true">My Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">My Wishlist</a>
            </li>
        </ul>
        {{!-- NAV --}}
        <div class="tab-content">
            {{!-- Mycourse Tab --}}
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div style="display: flex; justify-content: center;">
                    <div style="display: inline-block;">
                        <h6>My courses</h6>
                    </div>
                    
                </div>
            </div>
            {{!-- End: TAB 1 --}}

            {{!-- My wishlist tab --}}
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div style="display: flex; justify-content: center;">
                    <div style="display: inline-block;">
                        <h6>My Wishlist</h6>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>

