<div style="height: 800px;">
    <div style="height: 100px; background: #273238;">
        <div style="padding-top: 25px; padding-left: 100px; color: whitesmoke; font-size: 30px; font-weight: bolder;">Con meo ngu ngok</div>
    </div>
    <div style="height: 200px; background: #E9EAEC;">
        <div class="father">
            <div class="son">
                <div style="padding: 20px;display: flex; ">
                    <img src="/img/avata.png" alt="..." class="rounded-circle" style="width: 120px;  margin: 20px;">
                    <div style="text-align: left; margin: 20px; ">
                        <div style="margin-bottom:10px ;">Description:</div>
                        <div style="margin-bottom:10px ;">Facebook: </div>
                        <div style="margin-bottom:10px ;">Phone-number:</div>
                        <div>Address:</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="text-align: center; margin: 30px; font-size: larger; font-weight: bolder; ">Courses that you've wishlisted</div>
        <div class="father">
            <div class="son">
                <div style="display: flex; margin-top: 20px;">
                    
                    <!-- Sửa chỗ này nè-->
                    <div class="itemcard">
                    <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
                    <div>Courses Name</div>
                    <div class="itemprice">$19.99</div>
                    <div style="height: 80px;">Description about courses...</div>
                    <div style="display: flex;">
                        <p><button>Add to Wishlist</button></p>
                        <p><button>Add to Cart</button></p>
                    </div>
                    </div>

                    <div class="itemcard">
                    <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
                    <div>Courses Name</div>
                    <div class="itemprice">$19.99</div>
                    <div style="height: 80px;">Description about courses...</div>
                    <div style="display: flex;">
                        <p><button>Add to Wishlist</button></p>
                        <p><button>Add to Cart</button></p>
                    </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>