<div >
    <div style="height: 100px; background:#fdecbc;">
        <div style="padding-top: 25px; padding-left: 100px; color: black; font-size: 30px; font-weight: bolder;">My profile</div>
    </div>
    <div style="height: 200px;">
        <div class="father">
            <div class="son">
                <div style="padding: 20px;display: flex; ">
                    <img src="/avata.png" name="avatar" alt="..." class="rounded-circle" style="width: 120px;  margin: 20px;">
                    <div style="text-align: left; margin: 40px; ">
                        <div style="margin-bottom:10px ;">Full name: {{ detailinfor.fullname}}</div>
                        <div style="margin-bottom:10px ;">Email: {{infor.email}}</div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>
