<div style="display: flex; justify-content: space-around; margin-top: 30px;">
    <div class="shoppingcart">
        <div style="font-size: 30px;font-weight: bolder; margin-bottom: 30px;"> Courses in shopping Cart</div>
        <div style="text-align: center; margin: 30px; font-size: larger; font-weight: bolder; ">Courses that you've wishlisted</div>
        {{#each paycourse }}
            <div class="father">
                <div class="son">
                    <div style="display: flex; margin-top: 20px;">
                        <div class="itemcard">
                        <img src="/student/js.png" alt="" style="width:100px; height: 80px;">
                        <div class="itemtitle">{{paycourse.title}}</div>
                        <div class="itemprice">{{paycourse.price}}</div>
                        <div style="height: 80px;">{{paycourse.description}}</div>
                        <div style="display: flex;">
                            <p><button>Add to Wishlist</button></p>
                            <p><button>Add to Cart</button></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
       
    </div>

    <div>
        <div class="border-start shoppingmoney" >
            <div >Total:</div>
            <div style="font-weight: bolder; font-size: larger;">đ 12345,000</div>
            <a href=""><button class="spbtn" >Check out</button></a>

        </div>
    </div>
</div>