<div style="display: flex; justify-content: space-around; margin-top: 30px;">
    <div class="shoppingcart">
        <div style="font-size: 30px;font-weight: bolder; margin-bottom: 30px;"> Shopping Cart</div>
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="cart-tab" data-bs-toggle="tab" data-bs-target="#cart-tab-pane" type="button" role="tab" aria-controls="cart-tab-pane" aria-selected="true">Courses in cart</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="wishlist-tab" data-bs-toggle="tab" data-bs-target="#wishlist-tab-pane" type="button" role="tab" aria-controls="wishlist-tab-pane" aria-selected="false">Recently wishlisted</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="cart-tab-pane" role="tabpanel" aria-labelledby="cart-tab" tabindex="0">...</div>
                <div class="tab-pane fade" id="wishlist-tab-pane" role="tabpanel" aria-labelledby="wishlist-tab" tabindex="0">...</div>
            </div>
        </div>
    </div>
    <div>
        <div class="border-start shoppingmoney" >
            <div >Total:</div>
            <div style="font-weight: bolder; font-size: larger;">đ 12345,000</div>
            <a href=""><button class="spbtn" >Check out</button></a>

        </div>
    </div>
</div>