@charset "UTF-8";
.test {
  font-size: 100px;
  font-weight: 10px;
}

.father {
  text-align: center;
}

.son {
  display: inline-block;
}



.abtn {
  background-color: #ff914d;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 204px;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 5px;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

/* css của header*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #e9eaec;
}

.logo {
  width: 50px;
  margin-left: 30px;
}

.img {
  width: 100%;
}

.inputsearch {
  width: 500px;
  height: auto;
  color: grey;
  background-color: white;
  border-radius: 30px;
  border: 2px;
  font-size: large;
  text-align: justify;
  height: 40px;
  border-color: black;
  padding-left: 20px;
}

.btnlogin {
  height: 40px;
  width: 80px;
  margin-right: 10px;
  background: whitesmoke;
  color: black;
  border-color: black;
  text-align: center;
  border-radius: 5px;
  font-weight: bolder;
}

.btnsignup {
  height: 40px;
  width: 80px;
  margin-right: 70px;
  background-color: #273238;
  color: whitesmoke;
  border-color: whitesmoke;
  border: 3px;
  text-align: center;
  border-radius: 5px;
  font-weight: bolder;
}

.catelories {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  font-size: larger;
  padding-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

.dropdown:hover .catelories {
  color: #ff914d;
  text-decoration: none;
}

/* css của footer*/
.ft_text {
  color: #eeb00d;
  font-weight: bold;
}

.footer {
  margin: 0;
  padding: 20px;
  background: #373737;
}

.ft_kc {
  color: #373737;
}

.ft_li {
  display: block;
  text-align: center;
  padding: 10px 15px;
}

.text {
  color: white;
  text-decoration: none;
}

.ft_imglink {
  width: 80px;
  padding: 14px 16px;
  margin: 15px;
}

.login {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logintext {
  color: #ff914d;
}

.loginbanner {
  width: 900px;
  background-color: #fdf4db;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 555px;
}

.loginform {
  width: 300px;
  display: block;
  margin: auto;
}

.logininput {
  border-radius: 5px;
  border-color: black;
  background-color: whitesmoke;
  height: 30px;
  width: 300px;
  margin-bottom: 20px;
}

.signup {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.signupinput {
  border-radius: 5px;
  border-color: black;
  background-color: whitesmoke;
  height: 30px;
  width: 300px;
  margin-top: 20px;
}

.signupbanner {
  width: 900px;
  background-color: #fdf4db;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 555px;
}

.signupform {
  width: 300px;
  display: block;
  margin: auto;
}

.err404 {
  background-color: #fdf4db;
  height: 530px;
  padding-top: 100px;
}

.errimg {
  margin-bottom: 10px;
  height: 300px;
}

.errtext {
  width: 760px;
  height: 100px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
}

.homeimg {
  width: 100%;
}

.homebg1 {
  width: 95%;
  margin: 35px;
  background: #d9d9d9;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #f0ae00;
}

.homebg2 {
  width: 95%;
  margin: 35px;
  background: rgba(240, 174, 0, 0.14);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #f0ae00;
}

.homeimg_item {
  width: 70%;
  margin: 20px;
}

.hometext {
  font-size: 30px;
  font-weight: bolder;
  color: #f0ae00;
  padding-top: 130px;
  margin-left: 20px;
}

.edit {
  margin: 60px;
  padding: 30px;
  color: #373737;
}

.search {
  margin: 35px;
  padding: 30px;
  color: #373737;
  width: 95%;
}

.itemcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 20px;

  padding-top: 20px;
  text-align: center;
  font-family: arial;
  height: 350px;
}

.itemprice {
  color: grey;
  font-size: 25px;
}

.itemcard button {
  border: none;
  outline: 0;
  padding: 12px;
  margin: 15px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

.itemcard button:hover {
  opacity: 0.7;
}

.mlshow {
  width: 95%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.mlbar {
  background-color: #273238;
  color: whitesmoke;
  font-weight: bolder;
  height: 170px;
}

.mltitle {
  padding-left: 150px;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bolder;
}

.mltab {
  padding: 30px;
  margin-left: 150px;
}
