<div class="myListCourse d-flex ">
    <!-- Begin: SIDEBAR -->
    <div class="col-md-1 position-relative p-0 m-0">
        <div id="side">
            <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge" style="width:70px; position:absolute!important;">
                <a href="/api/teachers/homepage" class="mySide" class="side w3-bar-item"><i
                        class="bi bi-house-door fa-xm"></i></a>
                <a href="/api/teachers/createCourse" class="mySide " class="side w3-bar-item "><i
                        class="bi bi-camera-reels fa-xm"></i></i></a>
                <a href="/api/teachers/myListCourses" class="mySide active" class="side w3-bar-item "><i
                        class="bi bi-card-list fa-xm"></i></a>
            </div>
        </div>

        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("side");
            var btns = header.getElementsByClassName("mySide");

            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace(" active", "");
                    this.className += " active";
                });
            }
        </script>
    </div>
    <!-- End: SIDEBAR -->


    <!-- Begin: My List Body -->
    <div class="col m-5">
        <h6 class="font-text container">MY LIST</h6>
        {{!-- 1: Create Course and Filter Search --}}
        <div class="container d-flex searchInMyList border border-gray rounded">

            {{!-- Search Filter --}}
            <div class="d-flex align-items-center input-group mr-2">
                <input class="form-control rounded" id="myInput" type="text" placeholder="Search your course">

                <script>
                    $(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            console.log(value);
                            $(".listOfCourse").filter(function () {
                                console.log(typeof $(this).text().toLowerCase().indexOf(value) > -1);
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)

                            });
                        });
                    });
                </script>
            </div>

            {{!-- Create Course Button --}}
            <div class="d-flex align-items-center ">
                <a href="/api/teachers/createCourse"><button type="button"
                        class="btn btn-lg buttonCreateCourse">New Course</button></a>

            </div>
        </div>

        {{!-- 2: List of Course --}}
        <script>
            for (let i = 0; i < 5; i++) {
                document.write(`
                            <div class="listOfCourse">
            <div class="container course border border-dark rounded">
                <div class=" d-flex courseImgAndInfo">
                    <a href="/api/teachers/editCourse" class="imgCourseBox">
                        <img src="/student/HTML_COURSE.png" alt="This is image of HTML course">
                    </a>
                    <div class="ud-unstyled-list">
                        <div class="listItem">
                            <p id="titleCourse">${i} Hour HTML</p>
                        </div>
                        <div class="listItem">
                            <p>Last update: ${i+1}/2022</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between flex-wrap" >
                    <div class="ud-unstyled-list rating" style="margin-right:5rem;">
                        <div class="listItem justify-content-between" style="width: 9.5rem; height: 2.5rem">
                            <div>5.0</div>
                            <div class="starColor">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="listItem">
                            <p>Course rating</p>
                        </div>
                    </div>
                    <div class="box_btn_edit">
                       <a href="/api/teachers/editCourse"><button type="button" class="btn btn-dark btn_edit">Edit</button></a>
                    </div>
                </div>

            </div>
        </div>
                            `)
            }
        </script>

    </div>

    <!-- End: My List Body -->

</div>