<div class="d-flex w-100">
    <div class="flip_chapter_create m-1">
        <button onclick="handleGroup(this)" class="text-left w-100 mr-1" value="{{_id}}">
            {{ name }} </button>
    </div>
    <div class="">
         <form action="">
            <button class="btn"> <i class="fa fa-remove"></i></button>
         </form>
    </div>
</div>
<div class="panel_lessons_create">
    {{#each lessons}}
    <form>
        <div class="link_video_lesson border border-dark p-2 m-2"> <a href="http://{{video}}" class="d-flex"
                style="color: #EEB00D"> <i class="bi bi-play-circle-fill mr-2"></i>
                <p>{{name}}</p>
            </a>
            <div class="d-flex "> </div> <button class="btn btn_del_les" value={{_id}}><i class="fa fa-remove"
                    style="color:red;"></i></button>
        </div>
    </form>
    {{/each}}
    <button class="btn " data-toggle="modal" data-target="#modalLesson">Add lesson</button>
</div>