<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .ft_text{
        color:  #EEB00D;
        font-weight: bold ; 
        }
        .footer{

            margin: 0;
            padding: 50px;
            background:#373737 ; 
        
        }

        .ft_kc{
            color:#373737  ;
        }
        .ft_li{
            display: block;
            
            text-align: center;
            padding: 10px 15px;
          
            
        }
        .text{
            color: white;
            text-decoration: none;

        }
        

        .ft_imglink{
            width: 80px;
            padding: 14px 16px;
            margin:15px;


        }
        .father {
            text-align: center; }

        .son {
            display: inline-block; }
        .logo{
            width: 60px;
        }


    </style>
</head>
<body>
     <div class='footer'>

            <div class='father'>
                <div class='son'>
                    <div className='logo' style="display: flex;">                        
                        <img class="logo" src="./img_logo.png" style="margin-bottom: 20px;"></img>
                        <h1 class="ft_text" style="margin-bottom: 30px;">YOLO</h1>                       
                    </div>
                </div>
            </div>

            <div class='father'>
                <div class='son'>
                    <div className='menuFootBar'>
                        <ul className='listFBar' style="display: flex;">
                            <li className='itemFBar' class='ft_li' >
                                <a href="/home" ><div class="text">HOME</div></a>
                            </li>
                            <li className='itemFBar'  class='ft_li'>
                                <a href="/aboutus" ><div class="text">ABOUT US</div></a>
                            </li>
                            <li className='itemFBar'class='ft_li'>
                                <a href="/fqa" ><div class="text">FQA</div></a>
                            </li>
                            <li className='itemFBar'  class='ft_li'>
                                <a href="/catelories" ><div class="text">CATELORIES</div></a>
                            </li>
                        
                            <li className='itemFBar' class='ft_li' >
                                <a href="/profile"><div class="text">PROFILE</div></a>
                            </li>                           
                        </ul>
                    </div>
                </div>
            </div>
              
            <div class='father'>
                <div class='son'>
                    <div className='infolink'>
                        <ul style="display: flex;">
                            <li class='ft_li'>
                                <a href="">
                                    <img class='ft_imglink' src="./img_github.png"></img>
                                </a>
                            </li>
                            <li class='ft_li'>
                                <a href="https://www.facebook.com/hongtan1422002">
                                    <img class='ft_imglink'  src= "./img_fb.png" style="margin-top: 14px; height: 80px;width: 90px;"></img>
                                </a>
                            </li>
                            <li class='ft_li' >
                                <a href="https://www.linkedin.com/in/phamthaovy0812/">
                                    <img class='ft_imglink'  src="./img_linkedin.png" style="margin-top: 14px; height: 76px;width: 90px;"></img>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                
            <div class='father'>
                <div class='son'>
                    <div className='infotext' style="display: flex;">
                        <div ><b>2022 All rights reserved</b> </div>
                        <div class='ft_kc'>..</div>
                        <div class='ft_text'>By group 11 - 20KTPM1</div>
                    </div>
                </div>
            </div>           
            
        </div>


    
</body>
</html>