<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <style>
        .login{
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
        .logtext{
            color: #FF914D;
        }
        .loginbanner{
            width: 900px;
            background-color:#FDF4DB;
            padding-top: 40px;
            padding-bottom: 40px;
            height: 645px;
        }
        .loginform{
            width: 300px;
            display: block;
            margin: auto;
        }

        .btn
        {
            background-color: #FF914D;
            text-align: center;
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            width: 204px;
            height: 50px;
            font-size: larger;
            font-weight: bolder;
            border-radius: 5px;
            margin-top: 30px;
        }
        .input{
            border-radius: 5px;
            border: black;
            background-color: bisque;
            width: 300px;
        }
        .father{
            text-align:center;


        }
        .son{
            display: inline-block;

        }
       
    </style>
</head>
<body>
    <div class="login">
        <div class="loginbanner">
            <div class="father">
                <div class="son">
                    <div style="font-size: 50px; font-weight: bolder;">-WELCOME TO YOLO-</div>
                </div>
            </div>
             <div class="father">
                <div class="son">
                    <div style="font-size: larger;"> The best website for online learning</div>

                </div>
            </div>
             <div class="father">
                <div class="son">
                    <img src="./img_login.png" style="margin: 15px; height: auto;">

                </div>
            </div>
            <div class="father">
                <div class="son">
                    <div style="margin-top: 30px;font-size:27px">“Education is the most powerful weapon we use to change the world.”</div>
                </div>
            </div>

        </div >
            <div class="loginform">
                <div class="father">
                    <div class="son">
                        <div style="color: #FF914D; font-size: 40px;font-weight: bolder; padding-bottom: 30px;">LOG IN</div>
                    </div>
                    </div>
                    <div>Username:</div>
                    <div>
                        <input class="input">
                    </div>
                    <div>Password:</div>
                    <div>
                        <input class="input">
                    </div>
                    <div style="display: flex;">
                        <a href="#">Forgotten password?/</a>
                        <a href="#">Sign Up</a>
                    </div>

                    <div class="father">
                        <div class="son">
                            <a href="/home"> <button class="btn"> Log In</button></a>

                        </div>
                    </div>

            </div>
        <div>
        </div>
    </div>
    
</body>
</html>