<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/app.css">
 
</head>
<body>
    <div class="err404">
      
        <div class="father">
            <div class="son">
                 <img src="./error404/img_404.png" class="errimg"/>
            </div>
        </div>
        <div class="father">
            <div class="son">
                <div class="errtext">We’re sorry, the page you requested could not be found. Please go back to the homepage.</div>

            </div>
        </div>
        <div class="father">
            <div class="son">
                <a href="/login"><button  class="btn"> BACK</button></a>

            </div>
        </div>
    </div>
</body>
</html>
