
<div class="itemcard">
  <img src="/img/avata.png" alt="" style="width:100px; height: 80px;">
  <div>Courses Name</div>
  <div class="itemprice">$19.99</div>
  <div style="height: 80px;">Description about courses...</div>
  <div style="display: flex;">
    <p><button>Add to Wishlist</button></p>
    <p><button>Add to Cart</button></p>
  </div>
</div>

<!-- Sửa chỗ này nè, lấy data nhét vào-->