<div class="category">

    {{!-- List Development Course --}}
    <div class="body">
        <h1 class="container font-text">{{category.name}} COURSES</h1>
       

        {{!-- List Course --}}
        <div class="container listCourseOfWebDevelopmet border border-dark">
            <h2 class="font-text-part">Courses to get you started</h2>
            <div class="container category-tab-list border border-dark">
                <div class="container d-flex category-course-element border border-dark">
                    <div class="category-course-element-img border border-dark">
                        <img src="/student/JavascriptForBeginner.jpg" alt="">
                    </div>
                    <div class="category-course-mainContent">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>